<h1>REgister page</h1>
<form action="/register" method="POST">
    Username: <input type="text" name="username" />
    Password: <input type="password" name="password" />
    <button>Submit</button>
</form>
<ul>
    <a href="/register"><li>Register</li></a>
    <a href="/"><li>Login</li></a>
</ul>